:root {
  --text-large: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: #e2e2e2;
}

header > img {
  max-width: 200px;
}

.deck {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 300px;
}

/* flex column center */
.flc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tc {
  text-align: center;
}

.fl-r-sb {
  display: flex;
  justify-content: space-between;
}

.text-large {
  font-size: var(--text-large);
}